#welcome-img-id{
    max-width: 100%;
    height: 100%;
}

#playbtn-id{
    position: absolute;
    top: 255px;
    left: 146px;
    max-width: 24%;
    height: 15%;
}

@media only screen and (max-width: 325px) {
    #playbtn-id {
        left: 129px;
    }
  }

  video {
    width: 100%;
    height: auto;
  }

  #wish-card{
      display:none;
    width: 100%;
    height: auto;
  }
  
#wish-img-id{
    width: 100%;
    height: auto;
}

#sig-name{
    display: none;
}
#sig-div{
    display:none;
  width: 100%;
  height: auto;
}

#sig-img-id{
  width: 100%;
  height: auto;
}