<!DOCTYPE html>
<html>
    <head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <video id="wish-vid" controls autoplay >
        <source src="./img/sample.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
<div id="wish-card">
<img id="wish-img-id" src="./img/wish.jpg">
</div>
<h1 id="sig-name">your buddy,</h1>
<div id="sig-div">
    <img id="sig-img-id" src="./img/vegeta.jpg">
</div>
    </body>
</html>
<script src="./js/app.js"></script>