<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="./css/style.css">
</head>
<body>
<img id="welcome-img-id" src="./img/welcome.png">
<img id="playbtn-id" src="./img/playbtn.png" onclick=alert("called")>
</body>
</html>
